
.win {
    color: white;
    background-color: green;
  }
  
  .loss {
    color: white;
    background-color: red;
  }
  
  #word {
    letter-spacing: 10px;
    text-align: center;
    font-size: 24pt;
    color: rgb(70, 66, 69);
    font-weight: bold;
    font-family: "Courier New", Courier, monospace
  }
  
  #guesses {
    text-align: center;
    font-size: 16pt;
    color: rgb(110, 86, 102);
    font-weight: bold;
    font-family: "Courier New", Courier, monospace
  }
  
  .guess {
    padding: 10px;
    display: inline-block;
    border: 2px solid rgb(238, 35, 147)
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    backdrop-filter: blur(20px);
  }
  .guess:hover {background-color: rgb(243, 243, 176)}
  
  @media only screen and (min-device-width: 375px ) and (max-device-width: 667px) {
      #guesses {
      text-align: center;
      font-size: 20pt;
      color: rgb(70, 66, 69);
      font-weight: bold;
      font-family: "Courier New", Courier, monospace
    }
  
    .guess {
      padding: 30px;
      display: inline-block;
      border: 2px solid rgb(240, 69, 197);
      border-radius: 10px;
      margin: 10px;
      cursor: pointer;
    }
  }
  
  #guessBox {
      height: 60px;
      border-radius: 10px;
      padding-top: 5px;
      font-size: 18pt;
      width: 200px;
      padding-left: 10px;
  }